{% extends "base.html" %}
{% block content %}
<h1> Start a new Noodle here! </h1>
    <form action="create" method="post">
        <div id="first" style="display:inline">
            <p>Fill out the form bellow to get started.</p>
            <br/>
            <br/>
            <div class="form-group row">
                <label for="Title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="title" placeholder="Enter Noodle's Title here.">
                </div>
            </div>
            <div class="form-group row">
                <label for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="name" placeholder="e.g. George Papadakis, gpapadakis">
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control" id="email" placeholder="g.papadakis@antena.gr">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" onclick="return showNext(2)">Next</button>
        </div>
        <div id="second" style="display:none">
           <h3>Please select the dates you want to set up a meeting.</h3>
            <br/>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" style="display:none;"/>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-secondary" onclick="return showNext(1)">Back</button>
                <button type="button" class="btn btn-primary" onclick="return showNext(3)">Next</button>
            </div>
        </div>
        <div id="third" style="display:none">
           <h3>Please select the time proposals for the meeting.</h3>
            <br/>
            <div class="row">
                <ul class="list-group">
                    <div id="timedates">
                    </div>
                </ul>
            </div>
            <div class="row">
                <button type="button" class="btn btn-secondary" onclick="return showNext(2)">Back</button>
            <div class="form-group">
                <div class='input-group date'>
                    <input name="datetimes" type='text' class="form-control" id="datetimes" style="display:none;"/>
                </div>
            </div>
                <div id="confirm_button">
                <button type="input" onclick="return setDateTimes()" class="btn btn-primary">Confirm</button>
                </div>
                <div id="submit_button" style="display: none;">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
